@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --purple: #3f3cbb;
  --purple2: #321798;
  --lightPurple: #7561d0;
  --darkPurple: #17074e;
  --black: #000000;
  --gray: #2f3130;
}

@font-face {
  font-family: "VagRounded";
  src: url("./assets/VAG Rounded Bold/VAG Rounded Bold.ttf");
}

* {
  font-family: "VagRounded";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

ul button {
  border-radius: 36px;
}

ul button div {
  border-radius: 36px;
}

button {
  background-color: var(--purple2);
  border-radius: 100%;
  padding: 8px;
}

button div {
  border: 3px solid var(--lightPurple);
  font-weight: bold;
  background-color: var(--purple2);
  color: var(--white);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover,
button:hover div {
  background-color: var(--purple);
  border-color: var(--white);
  transition: all 0.1s ease;
}
